#social_menu{
	position: fixed;
	display: block;


	top: 7%;
	height: 40%;

	background: yellow;

  	.icons{

	  	ul{	
	  		position: absolute;
	  		display:block;

	  		width: auto;
	  		height: auto;

  			a{
				text-decoration: none;
				color: white;

		  		li{
		  			position: relative;
		  			display: inline;
		  			float: left;

		  			width: 9rem;
		  			height: 7rem;

		  			padding: 1rem 0rem;

		  			font-size: 3rem;
		  			border-color: #e74c3c;
		  			text-align: center;
		  		}
	  		}
	  		a:hover{
				text-decoration: none;
				background: #e74c3c;
				color: #20374d;

	  			li{
		  			position: relative;
		  			display: inline;
		  			float: left;

		  			width: 9rem;
		  			height: 7rem;

		  			padding: 1rem 2rem;

		  			border-right: 1px solid #e74c3c;
		  			border-top: 1px solid #e74c3c;
		  			border-bottom: 1px solid #e74c3c;



		  			.transition(padding 200ms ease-in, height 200ms ease-in);
	  			}
			}
	  		
  		}
	}
}